@model IEnumerable<Albergo.Models.Prenotazioni>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/css")
<h2 style="margin-top:2rem;">Storico Prenotazioni</h2>

<p>
    @Html.ActionLink("Registra nuova prenotazione", "Create", null, new { @class = "btn btn-warning mt-1" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCheckIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCheckOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoStanza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Citta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoStanza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo)
            </td>
            <td>
                @if (DateTime.Today > item.DataCheckOut)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdPrenotazione }, new { @class = "btn btn-danger" })<br />
                    @Html.ActionLink("Dettagli Servizi", "Index", "PrenotazioniServizi", new { idPrenotazione = item.IdPrenotazione }, new { @class = "btn btn-info mt-1" })
                }
                else
                {
                    <div style="text-align:left">
                        @Html.ActionLink("Modifica", "Edit", new { id = item.IdPrenotazione }, new { @class = "btn btn-primary" })
                        <text> </text>
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdPrenotazione }, new { @class = "btn btn-danger ml-1" })<br />
                        @Html.ActionLink("Associa Servizio", "Create", "PrenotazioniServizi", new { idPrenotazione = item.IdPrenotazione }, new { @class = "btn btn-warning mt-1" })<br />
                        @Html.ActionLink("Dettagli Servizi", "Index", "PrenotazioniServizi", new { idPrenotazione = item.IdPrenotazione }, new { @class = "btn btn-info mt-1" })
                    </div>
                }
            </td>

        </tr>
    }

</table>
